<section class="admin-content-main">
    <div class="header">
        <div fxLayout="row wrap" ngClass.lt-md="{'bread-crumbs-lt-md'}" class="bread-crumbs">
            <h1 fxFlex.lt-sm="100" >{{page_title | titlecase}}</h1>
            <ul>
                <li *ngFor="let item of bread_crumbs">
                    <a routerLink="{{item.link}}" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}">
                        <h4>{{item.title | titlecase}}</h4>
                        <h4><mat-icon>chevron_right</mat-icon></h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="spacer-1"></div>
        <div class="actions"></div>
    </div>
    <div class="summary-cards">
        <mat-card fxFlex.lt-sm="100" fxFlex.lt-md="45"
            ngClass.lt-md="card-lt-md"
            *ngFor="let item of dashboardCards">
            <mat-card-header>
                <mat-card-title><h5>{{item.title | uppercase}}</h5></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon>{{item.icon}}</mat-icon>
                <div>{{item.value}}</div>
            </mat-card-content>
            <div class="card-footer">
                <a href="#" routerLink="{{item.link}}">View more ...</a>
            </div>
        </mat-card>

    </div>
    <div class="content-cards">
        <app-card title="tour analytics" icon="bar_chart">
            <app-booked-active-tour-chart></app-booked-active-tour-chart>
           
        </app-card>

        <app-card title="latest bookings" icon="shopping_cart">
            <app-latest-bookings-table></app-latest-bookings-table>
        </app-card>
    </div>

</section>
