<!-- Toolbar -->
<div class="main-wrapper">
	<div class="toolbar" role="banner">
		<img
			width="40"
			alt="Angular Logo"
			src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
		/>
		<nav class="top-navigation">
			<ul class="navigation-list">
				<li class="item-link">
					<a class="a-link" routerLink = "/">Home</a>
				</li>
				<li class="item-link">
					<a class="a-link"  routerLink = "/tour">Toure</a>
				</li>
				<li class="item-link">
					<a class="a-link"  routerLink = "/tours">Tour List</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/gallery">Gallery</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/blog-page">Blog</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/contact">Contact</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/about">About</a>
				</li>
				</ul>
		</nav>
		<!--<button mat-raised-button>Derrickmo</button>-->
	</div>

	<router-outlet class="main-outlet"></router-outlet>
	
	<footer>
		<nav class="bottom-navigation">
			<ul class="navigation-list">
				<li class="item-link">
					<a class="a-link" routerLink = "/mo/home">Home</a>
				</li>
				<li class="item-link">
					<a class="a-link"  routerLink = "/toure">Toure</a>
				</li>
				<li class="item-link">
					<a class="a-link"  routerLink = "/tours">Tour List</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/gallery">Gallery</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/blog">Blog</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/contact">Contact</a>
				</li>
				<li class="item-link">
					<a class="a-link" routerLink = "/about">About</a>
				</li>
			</ul>
		</nav>
		<div class="footer-one">			
			<div>
				<h2>Mugga Tours</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and 
					Consonantia, there live the blind texts.
				</p>
			</div>
			<div>
				<ul>
					<li><a href="#">Newsletter</a></li>
					<li><a href="#">Out door activities</a></li>
					<li><a href="#">City tours</a></li>
					<li><a href="#">Caltural and thematic tours</a></li>
				</ul>
			</div>
			<div>
				<ul>
					<li><a href="#">Family Friendly Tours</a></li>
					<li><a href="#">Relaxation Tours</a></li>
					<li><a href="#">Holidy & Seasonal Tours</a></li>
					<li><a href="#">Wild & Adeventure Tours</a></li>
				</ul>
			</div>
			<div>
				<ul>
					<li><h2 style="text-transform: uppercase;color: rgb(70, 68, 68);">Contact</h2></li>
					<li><span style="color:  rgb(70, 68, 68); font-weight: bold;">Address:</span>12 Main Street, Kampala</li>
					<li><Span style="color:  rgb(70, 68, 68); font-weight: bold;">Phone:</Span>+256 77899340</li>
					<li><a href="#">info@muggatours.com</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-two">

				<h3>
					<span>Copyright 2020 | All rights reserved</span>
	
				</h3>
				<div class="spacer-1"></div>
				<h3>
					<span>Developed by <a href="#">Accelerated Tecnosoft</a></span>
				</h3>
	
		</div>
	</footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




