<section class="admin-content-main">
    <div class="header">
        <div fxLayout="row wrap" ngClass.lt-md="{'bread-crumbs-lt-md'}" class="bread-crumbs">
            <h1 fxFlex.lt-sm="100">{{pageTitle | titlecase}}</h1>
            <ul>
                <li *ngFor="let item of breadCrumbs">
                    <a routerLink="{{item.link}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <h4>{{item.title | titlecase}}</h4>
                        <h4>
                            <mat-icon>chevron_right</mat-icon>
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="spacer-1"></div>
        <div class="actions">
            
               
                <label class="btn btn-primary btn-md m-0 mr-2" for="{{formId}}">
                    <mat-icon>save</mat-icon>
                </label>
                
            
            <a class="btn btn-secondary btn-md" routerLink={{actionButtons.link}}>
                <mat-icon>undo</mat-icon>
            </a>

        </div>
    </div>
    <app-card [title]="cardHeader.cardTitle" [icon]="cardHeader.cardIcon">
        <ng-content></ng-content>
    </app-card>
</section>