@import "../../../global-scss.scss";

.contact-us{
    color: $color-white;
    padding-top: $size-6-5rem;
    padding-bottom: $size-6-5rem;
    background-color: $color-black;
    & >h1{
      font-size: $size-2-5rem;
      font-weight: bold;
      border: $test-border;
      text-transform: capitalize;
   
    }
        .contact-details{
          display: $display-flex;
          border: $test-border;
          margin-top: $size-2rem;
          & >div{
              padding: $size-20px;
              border: $test-border;
              & >div{
                  display: $display-flex;
                  border: $test-border;
                  padding: 0px;
                  & > h1:nth-child(2){
                      font-size: $size-1-5rem;
                      margin-left: $size-10px;
                      font-weight: bold;
                      text-transform: capitalize;
                  }
  
                  mat-icon{
                      font-size: $size-2rem;
                  }
              }
              p{
                  font-size: $size-1rem;
                  color: $color-silver-2;
              }
              h2{
                  color: $color-orange-bright;
                  margin-top: $size-2rem;
              }
              
          }
        }
        .map{
            google-map{
              height: 400px;
              width: 100%;
            }
            .map-overlay{
                position: absolute;
                top: 0px;
                background-color: #000;
                width: 100%;
                height: inherit;
            }
        }
  }